<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/nav') %>

        <div class="container post post-index">
            <%- include('./partials/header') %>

            <div class="buttons">
                <% if (isAuthenticated) { %>
                <a class="btn btn-default" href="/posts/new">New</a>
                <% } %>
            </div>

            <table class="table table-striped posts">
                <thead>
                    <tr>
                        <th class="num">Num</th>
                        <th class="title">Title</th>
                        <th class="author">Author</th>
                        <th class="views">Views</th>
                        <th class="date">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (posts == null || posts.length == 0) { %>
                        <tr>
                            <td class="noData" colspan="5"> There is no data to show :( </td>
                        </tr>
                    <% } %>
                    <% posts.forEach(function(post) { %>
                        <tr>
                            <td class="num"><%= post.numId %></td>
                            <td class="title">
                                <a href="/posts/<%= post._id %>">
                                    <div class="ellipsis highlight" data-highlight="<%= search.highlight.title %>" >
                                       <%= post.title %>
                                    </div>
                                </a>
                            </td>
                            <td class="author highlight" data-highlight="<%= search.highlight.author %>" >
                                <div class="ellipsis"><%= post.author ? post.author.username : "" %></div>
                            </td>
                            <td class="views"><%= post.views %></td>
                            <td class="date">
                                <%= post.createdDate %>
                            </td>
                        </tr>
                    <% }) %>        
                </tbody>
            </table>
            <!-- pagenation -->
            <ul class="pagenation_ul">
                <% let offset = 3; %>
                <% let partialQuery; %>
                <% if (urlQuery) partialQuery = "&"+urlQuery.replace(/page=(.*?)(&|$)/ig,""); %>
                <% for (var i = 1; i <= maxPage; i++) { %>
                    <% if (i <= offset || i > (maxPage - offset) || (i >= page - (offset - 1)) && i <= page + (offset - 1)) { %>
                        <% if (i != page) { %>
                            <li>[<a href="/posts?page=<%= i %><%= partialQuery %>"> <%= i %> </a>]</li>
                        <% } else { %>
                            <li>[ <b><%= i %></b> ]</li>
                        <% } %>
                    <% } else if (i == (offset + 1) || i == (maxPage - offset)) { %>
                        <li>...</li>
                    <% } %>
                <% } %>                    
            </ul>
            <!-- pagenation end -->
            <!-- search -->
                <div class="search float_right">
                    <form class="checkValidation" action="/posts/" id="search">
                        <select name="searchType">
                            <% var select %>
                            <option value="title, body" 
                                <%= search.searchType == "title, body" ? select="selected" : "" %>>제목 + 본문</option>
                            <option value="title"
                                <%= search.searchType == "title" ? select="selected" : "" %>>제목</option>
                            <option value="body"
                                <%= search.searchType == "body" ? select="selected" : "" %>>본문</option>
                            <% if (search.searchType == "author!") { %>
                                <option value="author!" 
                                    <%= search.searchType == "author!" ? select='selected' : "" %>>작성자!</option>
                            <% } else { %>
                                <option value="author" 
                                    <%= search.searchType == "author" ? select='selected' : "" %>>작성자</option>
                            <% } %>                            
                                                        
                        </select>
                        <input class="cvMinLength" cvMinLength="3"
                            cvMinLenErrTo='#searchError'
                            cvMinLenErrMsg="It should be at least 3 characters!"
                            type="text" name="searchText" value="<%= select ? search.searchText : "" %>"
                            <%= search.searchType == "author!" ? "disabled" : "" %>>
                        <button type="submit" <%= search.searchType == "author!" ? "disabled" : "" %>>검색</button>
                        <% if (search.searchType) { %>
                            <button type="button" onclick="window.location = '/posts?page=1'">취소</button>
                        <% } %>    
                        <div class="message" id="searchError"></div>    
                    </form>
                </div>
            <!-- search end -->
        </div> <!-- container end -->

    </body>
</html>